<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Ranjith's Blog</a>
    <ul class="nav navbar-nav navbar-right">
      <li><a ng-click="navNewPost()">New Post</a></li>
    </ul>
  </div>
</nav>


<div class="container">
  <h1 class="text-center">{{data.currentPost.title}}</h1>
  <div class="row">
    <p>{{data.currentPost.contents}}</p>
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary" ng-click="editPost()">Edit</button>
  </div>
</div>